<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your Website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
  </head>

  <body>
    <header>
      <span>Title</span>
      <nav>
        <ul>
          <li>hot stuff</li>
          <li>cool stuff</li>
          <li>rough stuff</li>
          <li>not stuff</li>
          <li>bluff stuff</li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Projects</h1>
      <div id="tabs">
        <div><h2>Wood Working</h2></div>
        <div><h2>3D Printing</h2></div>
        <div><h2>Baking</h2></div>
        <div><h2>Metal Casting</h2></div>
        <div><h2>CAD Design</h2></div>
        <div><h2>Coding</h2></div>
        <div><h2>Other stuff</h2></div>
      </div>
      <article>
        <H2>About dis</H2>
        <p>yeeee boi</p>
      </article>
    </main>
  </body>
</html>
